.container-card{
    margin: .5vw;
    .card{
        width: 14rem;
        border: 1px solid $color-1;
        overflow: hidden;
        background-color: black;
    }
    .visto{
        background-color: rgb(111, 180, 111) !important;
    }
    .card-img-top{
        min-height: 28vw;
        overflow: hidden;
        transition: 2s;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
    .card-title{
        min-height: 8vw;
        max-height: 8vw;
        color: $color-1;
        text-align: center;
        overflow-y: scroll;
        background-color: transparent;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-1;
            border-radius: 2vw;
        }
    }
    .title-visto{
        color: black;
        font-weight: 700;
    }
    .card-text{
        min-height: 10vw;
        max-height: 10vw;
        overflow-y: scroll;
        padding: .1vw .3vw;
        color: $color-2;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-1;
            border-radius: 2vw;
        }
    }
}
