.cuenta-container{
    width: 28rem;
    background-color: $color-1;
    margin: 5vw auto;
    padding: 2vw;
    border-radius: 2vw;
    p{
        background-color: transparent;
        color: black;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        &:hover{
            color: rgb(109, 107, 107);
            transform: scale(1.2);
        }
    }
}
.cambio-container{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    input{
        width: 50%;
        margin: 2vw auto;
        font-size: 1.5rem;
        text-align: center;
        background-color: $color-2;
        color: black;
        font-weight: 700;
        border: 0px;
        padding: .5vw;
        border-radius: 2vw;
    }
}