.navbar-container{
    width: 100%;
    background-color: black;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-1;
    a{
        color: $color-1;
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 1.5rem;
        &:hover{
            text-decoration: none;
            transform: scale(1.2);
            color: $color-2;
        }
    }
    p{
        color: $color-1 !important;
        margin-right: 2rem;
        margin-left: 2rem;
        font-size: 1.5rem;
        padding: 0px !important;
        margin-bottom: 0px !important;
        cursor: pointer;
        &:hover{
            text-decoration: none !important;
            transform: scale(1.2) !important;
            color: $color-2 !important;
        }
    }
    .active{
        background-color: transparent !important;
        transform: scale(1.8);
        color: $color-2 !important;
        &:hover{
            transform: scale(1.8) !important;
        }
    }
}