.swal-modal{
    background-color: $color-1;
    border-radius: 2vw;
    .swal-icon--error{
        border-color: black;
        background-color: transparent;
        .swal-icon--error__line{
            background-color: black;
        }
    }
    .swal-title{
        background-color: transparent;
    }
    .swal-footer{
        background-color: transparent;
    }
    .swal-text{
        font-weight: 600;
    }
    .swal-button{
        background-color: black;
        color: $color-1;
        &:hover{
            color: black;
            background-color: $color-1;
            border: 2px solid black;
            font-weight: 600;
        }
    }
}